.header__email {
    margin: 0 24px 0 0;
    max-height: 22px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

@media screen and (max-width: 430px) {
    .header__email {
        display: none;
    }
}