.popup__input {
    width: 358px;
    height: 27.26px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-left: 36px;
    outline: none;
}

@media screen and (max-width: 500px) {
    .popup__input{
        max-width: 64vw;
        font-size: 12px;
        line-height: 15px;
        margin-left: 20px;
    }
}