@import url(./__logo/header__logo.css);
@import url(./__email/header__email.css);
@import url(./__button/header__button.css);
@import url(./__container/header__container.css);
@import url(./__container/_hidden/header__container_hidden.css);
@import url(./__link/header__link.css);

.header {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 882px;
    height: 74px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 900px) {
    .header {
        height: 56px;
        max-width: 90vw;
    }
}

