.header__button {
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    color: #A9A9A9;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
}